body{
  background-size: cover;
  background-color:#FFCC00;	
}

#pokedex1, #pokedex2{
	background-color: #FFF;
	z-index: 1;
	width: 40%;
	min-height: 95vh;
	min-width: 365px;
	height:auto;
	left:30%;
	border-radius:1%;
	top:14vh;
	position: absolute;
}

.pikachu {
	position: fixed;
	bottom:0;
}
/* Buttons style- start*/
.btn:hover {
	color:#000;
	font-weight: bold;
}

#getPokemons {
	background-color: #FC0706;
	position:absolute;
	width:20em;
	height:5em;
    top: 0%;
    left: 30%;
	box-shadow:  0 0 50px #840C0D inset;
	font-size:700;
}

a #moreInfo {
	background-color: #2A71FD;
	width:20em;
	height:5em;
	position:absolute;
    top: 0%;
    right: 30%;
	box-shadow:  0 0 50px #06009D inset;
	border: none;
}

/* Buttons style- finish*/
/*----------------------*/
/* Table style - start*/
table {
	width: 100%;
}

#ajaxTable {
  margin: auto;
  max-width: 800px;
  width: 100%;
}

#pokemonTable, #pokemonTable_info, #pokemonTable_paginate, #pokemonTable_filter {
	display:none;
	font-size:1.5em;
	color:#343a45;
}
.paginate_button:hover {
	cursor: pointer;
	text-decoration: none;
}

.pokemonsName {
	text-transform: capitalize;
}

input:focus{
	background-color:#343a45;
	color: white;
}

th {
	text-align: center;
}

#tableHeader, #tableHeader2 {	
  color:#D5DDE5;
  background:#1b1e24;
  border-right: 1px solid #343a45;
  font-size:23px;
  text-align: center;
}
  
tr {
  border-bottom: 1px solid #C1C3D9;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5077;
  color:#FFFFFF;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5077;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:center;
  font-size:18px;
  border-right: 1px solid #C1C3D9;
}
/* Table style - finish*/
/*---------------------*/
/*Second page style - start*/

#pokemonChooser{
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
    margin-bottom: 10px;
	font-family: 'Orbitron', sans-serif;
	font-size: large;
}

#pokemonSelector{
    width: 300px;
}

#pokeSearchButton{
    width:10em;
	height:2em;
	background-color: #2A71FD;
    box-shadow:  0 0 50px #06009D inset;
}

#evolutions {
	font-family: 'Orbitron', sans-serif;
	font-size: large;
}
/*Second page style - finish*/
